html, body {
    margin: 0;
    padding: 0;
    color: #000000;
}

.content{
    width:375px;
}
.logo{
    width:250px;
}

header{
    border-bottom:1px solid #C6C6C6;    
}

.avatar{
    width:34px;
    height: 34px;
    border-radius:100%;
}

#post-header{
    display:flex;
    margin: 50px 20px 20px 20px;
    
}
#post-footer{
    margin: 5px  10px 5px 10px;
}

.post-header-element{
    margin-right:15px;
}

#post-header h2{
    margin-bottom:0px;
        margin-top:0px;   

}

.post-header p {
    margin-top:0px;   
}

.name{
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;

}

.location{
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}

.post-img{
    width:375px;
    height:375px;
}

.btn{
    width:23px;
    height: 23px;
    margin-right:10px;
}

.posts-separator{
    height:25px;
    background-color:#EDEDED;
}

.likes-amount{
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
}

.bold{
    font-weight: bold;
}

.btn:hover,
.btn:focus{
    opacity:0.65;
}